.employee {
  display: flex;
  width: 500px;
}
.employeeData {
  display: flex;
  width: 500px;
  border: 1px solid rgba(0,0,0,.5);
}
.birthday {
  background-color: pink;
}
button {
  width: 100px;
}
// Notice the scope of ".chassis", which prevents scope conflicts
.chassis chassis-overlay {
  background-color: rgba(0,0,0,.5);
}

.chassis chassis-overlay:last-of-type {
  background-color: rgba(30,0,0,.85); // Modified Color
  align-items: flex-start; // Notice the modified location
  margin-top: 10vh
}

.chassis chassis-overlay div {
  background-color: #ffffff;
  color: #111111;
  width: 50vw;
  height: 30vh;
  padding: 5vh 5vw;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.chassis chassis-overlay[closeOnEsc="false"] {
  color: #ffffff;
  font-size: 150%;
}

.chassis chassis-overlay[closeOnEsc="false"] > span {
  position: absolute;
  top: 3vh;
  right: 3vw;
  font-size: 200%;
  color: #000000;
  background: #ffffff;
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;;
  justify-content: center;;
  border-radius: 200rem;
  cursor: pointer;
}
